:root {
  --c-primary: #fa0050;
  --c-primary-tint-2: #fb1a62;
  --c-primary-tint-1: #feb3cb;
  --c-text-1: #313131;
  --c-gray-1: #f5f5f5;
  --c-gray-2: #808080;
  --backg-c-main: #ffffff;
  --backg-c-footer: #feccdc;
  --size-header: 8rem;
}

/**************************/
/* HEADER */
/**************************/

.header {
  width: 100%;
  background-color: var(--backg-c-main);
  /* background-color: #505050; */
  height: var(--size-header);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;

  padding: 2.4rem 3.2rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  position: fixed;
  background-color: var(--backg-c-main);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);

  top: -100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 2.4rem 0;

  z-index: 9999;
  transition: all 0.4s;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
}

.nav-item {
  font-size: 1.8rem;
}

.nav-icon {
  font-size: 2.4rem;
  cursor: pointer;
  color: inherit;
  transition: 0.3s ease-in;
}

.logo {
  font-size: 2.4rem;
  text-decoration: none;
  font-weight: bold;
  color: var(--c-primary);
}

.show-menu {
  top: calc(var(--size-header));
}

/**************************/
/* HOME */
/**************************/

.section-home {
  padding: 8rem 0 0 0;
  min-height: 100vh;
}

.home-container {
  gap: 3.2rem;
}

.home-text {
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  line-height: 1.3;
}

.img-header {
  height: 62rem;
}

.home-heading,
.text-box--home {
  display: flex;
  flex-direction: column;
}

.home-heading {
  gap: 1.4rem;
}

.text-box--home {
  gap: 5rem;
}

/**************************/
/* SECTION FEATURES */
/**************************/

.section-feature {
  padding: 8rem;
}

.features-text {
  font-size: 1.8rem;
  color: var(--c-gray-2);
  font-weight: 700;
  text-align: center;
  margin-bottom: 3.2rem;
}

.companies {
  gap: 4rem;
}

.company {
  height: 8rem;
  filter: brightness(0);
  opacity: 50%;
}

/**************************/
/* ABOUT SECTION */
/**************************/

.section-about {
  padding: 6.4rem 0;
}

.about-box {
  gap: 3.2rem;
}

.about-img {
  width: 100%;
  height: auto;
}

.about-box--text {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
/**************************/
/* HOW-IT-WORKS SECTION */
/**************************/

.section-how {
  padding: 9.6rem 0 0 0;
}

.section-how .grid {
  align-items: center;
}

.step-text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: start; */
  gap: 1.2rem;
}

.step-text-box--heading {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.number-box {
  display: inline-block;
  height: 3.2rem;
  width: 3.2rem;
  background-color: var(--c-primary-tint-1);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2.4rem;
  font-weight: 700;
  color: var(--backg-c-main);
}

/**************************/
/* FEATURES SECTION */
/**************************/

.section-features {
  padding: 9.6rem 0 0 0;
  margin-bottom: 1rem;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.feature-icon {
  /* display: inline; */

  height: 6.4rem;
  width: 6.4rem;
  padding: 2rem;
  background-color: var(--c-primary-tint-1);
  border-radius: 50%;
  color: var(--backg-c-main);
}

.feature-text {
  text-align: center;
  font-weight: 700;
  font-size: 1.8rem;
}

/**************************/
/* DOWNLOAD SECTION */
/**************************/

.download-section {
  padding: 9.6rem 0 0 0;
  margin-top: 1.2rem;
}

.download-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.download-box-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
}

.download-list {
  display: flex;
  flex-direction: column;
  padding: 3.2rem;
  gap: 1.2rem;
}

.download-item {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.download-item--icon {
  width: 3rem;
  height: 3rem;
  color: var(--c-primary-tint-2);
}

.download-box-img {
  max-height: 52rem;
}

/**************************/
/* FOOTER */
/**************************/

.footer {
  margin: 6.4rem 0 0 0;
  padding: 6.4rem 0 1rem 0;
  background-color: var(--backg-c-footer);
}

.footer-nav,
.logo-col {
  display: flex;
  flex-direction: column;
}

.logo-col {
  grid-column: span 3;
  gap: 1.2rem;
}

.footer-nav {
  gap: 2rem;
}

.footer-logo {
  font-size: 3rem;
  font-weight: 700;
  color: var(--c-primary);
  text-decoration: none;
}

.contacts {
  font-size: 1.8rem;
  line-height: 1.3;
}

.contacts p {
  margin-bottom: 1rem;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.social-links--item {
  font-size: 2.4rem;
}

.nav-col {
  grid-row: 1;
  grid-column: span 3;
}

.company-col {
  grid-row: 2;
  grid-column: 4 / span 3;
}

.footer-heading {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.footer-link {
  font-size: 1.8rem;
}

.copyright {
  margin: 4rem 0 1rem 0;
  text-align: center;
}
/**************************/
/*  */
/**************************/

/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 / 114 / 132

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 / 160 / 192 / 224 / 256
*/
